*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.checkoutproduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkoutProduct__button{
    object-fit: contain;
    margin-top: 10px;
    background: #00a2ff;
    border: 1px solid;
    width: 400px;
    height: 35px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}    
  
.checkoutProduct__button:hover{
    background-color: white;
    transition: background-color 200ms;
    transform: scale(0.98);}

.checkoutProduct__image{
    object-fit: contain;
    width: 180px;
    min-width: 180px;
    height: 180px;
}

.checkoutProduct__info{
    padding-left: 20px;
}

.checkoutProduct__rating{
    margin-top: 15px;
    display: flex;
}

.checkoutProduct__title{
    font-size: 17px;
    font-weight: 800;
}

