.checkout{
    display: flex;
    height: max-content;
    padding: 20px;
    background-color: white;

}
.checkout__ad{
    width: 100%;
}

.checkout__left{
    width: 75%;
}

.checkout__right{
    width: 25%;
    margin-left: 15px;
}

.checkout__ad{
    max-width: 900px;
}
.checkout__title{
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}