*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    background-color: white;
    z-index: 1;
  }
  
  .product__rating {
    display: flex;
    margin: 0px;
  }
  
  .product > img {
    max-height: 200px;
    width: 100%;
    margin-top: 20px;
    object-fit: contain;
    margin-bottom: 15px;
  }
  
  .product > button {
    background: #00a2ff;
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
  }

  .product > button:hover {
    background-color: white;
    transition: background-color 200ms;
    transform: scale(0.98);
  }
  
  .product__price {
    margin-top: 5px;
    bottom: 0px;
  }
  
  .product__info {
    height: 100px;
    margin-bottom: 10px;
  }

  .product__title{
    margin-top: 20px;
  }